<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="scaffold">
<head>
  <meta charset="utf-8">
  <title>NODEJS | MONGODB</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="author" content="">


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
</head>

<body>


    <div ng-view></div>

    <script type="text/javascript" src="public/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-route/angular-route.min.js"></script> 
    <script type="text/javascript" src="public/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="public/js/app/app.js"></script>
    <script src="public/js/controller/controller.js"></script>
    <script src="public/js/services/services.js"></script>
</body>

</html>
