<form action="">
    name
    <input type="hidden" ng-model="person._id"> 
    <input type="text" ng-model="person.name"> age
    <input type="text" ng-model="person.age">
    <button type="button" ng-click="save();">Save</button>
    <button type="button" ng-click="Clear();">Clear</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pr in persons">
            <td>{{ pr.name }}</td>
            <td>{{ pr.age }}</td>
            <td>
            	<button class="btn btn-danger btn-xs pull-right" title="Delete" ng-click="deletebrand(pr._id)"><i class="glyphicon glyphicon-trash"></i></button>
                <button ng-click="edit(pr._id)" class="btn btn-default btn-xs pull-right" title="Edit Content"><i class="glyphicon glyphicon-edit"></i></button>
                </button>
            </td>
        </tr>
    </tbody>
</table>
